# =========================================
# WARNING: Do not commit changes to this file - use for local testing only
# =========================================
# 1. Make you own copy.
# 2. Update with your own PAY_API_KEY.
# 3. Rename to '.env*'.
# 4. Do not commit your changes to this file.
# =========================================
# INSERT YOUR DATA HERE:

PAY_API_KEY=
PAY_API_BASE_URL=https://publicapi.pymnt.uk
PAY_TEST_FRONTEND_BASE_URL=www.pymnt.uk
PAY_FARGATE_FRONTEND_BASE_URL=prototype-frontend.test.pymnt.uk
PAY_RETURN_URL=http://localhost:3000/3ds-step-1
