{% extends "layout.html" %}

{% block pageTitle %}
  {% if errorSummary.length > 0 %}Error: {% endif %}Delivery method – {{ serviceName }} – GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/check-your-answers"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      {% if errorSummary.length > 0 %}
          {{ govukErrorSummary({
              titleText: "There is a problem",
              errorList: errorSummary
          }) }}
      {% endif %}

      <form class="form" method="post" novalidate>

      {{ govukRadios({
        idPrefix: "delivery-method",
        name: "delivery-method",
        fieldset: {
          legend: {
            text: "Delivery method",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        items: [
          {
            value: "standard",
            text: data["delivery-method-labels"]["standard"],
            checked: data["delivery-method"] === "standard"
          },
          {
            value: "fast-track",
            text: data["delivery-method-labels"]["fast-track"],
            checked: data["delivery-method"] === "fast-track"
          }
        ],
        errorMessage: errorSummary[0]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}
      </form>

    </div>
  </div>
{% endblock %}
