{% extends "layout.html" %}

{% block pageTitle %}
  Submit and pay – {{ serviceName }} – GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/task-list"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-xl">Submit and pay</h1>

      <h2 class="govuk-heading-m">Your badge</h2>

      <hr class="govuk-section-break govuk-section-break--visible">

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Type of badge"
            },
            value: {
              text: (data['type-of-badge'] | replace('-', ' ') | capitalize ) or '2 years'
            },
            actions: {
              items: [
                {
                  href: "/type-of-badge",
                  text: "Change",
                  visuallyHiddenText: "type of badge"
                }
              ]
            }
          },
          {
            key: {
              text: "Delivery method"
            },
            value: {
              html: data["delivery-method-labels"]["standard"] if (data["delivery-method"] === "standard" or not data["delivery-method"]) else data["delivery-method-labels"]["fast-track"]
            },
            actions: {
              items: [
                {
                  href: "/change-delivery-method",
                  text: "Change",
                  visuallyHiddenText: "delivery method"
                }
              ]
            }
          }
        ]
      }) }}

      <h2 class="govuk-heading-m">Next step: pay for your application</h2>

      <p class="govuk-body govuk-!-margin-bottom-6">By submitting an application you confirm that as far as you know, the information you’ve provided is correct and complete.</p>

      {% if data['delivery-method'] === 'fast-track' %}
        {{ govukButton({
          href: "/pay/create-payment?fastTrack=true",
          text: "Accept and proceed to payment"
        }) }}
      {% else %}
        {{ govukButton({
          href: "/pay/create-payment",
          text: "Accept and proceed to payment"
        }) }}
      {% endif %}

    </div>
  </div>
{% endblock %}
