{% extends "layout.html" %}

{% block pageTitle %}
  Application received – {{ serviceName }} – GOV.UK
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ govukPanel({
        titleText: "Application received",
        html: "Reference number: <strong>RSEO-YECC</strong>"
      }) }}

      <p class="govuk-body">
        Thank you for applying for a Blue Badge.
      </p>

      <h2 class="govuk-heading-m">
        What happens next
      </h2>

      <p class="govuk-body">
        We will check your application, then send your Blue Badge within 10 working days.
      </p>

      <p class="govuk-body">
        In the meantime, we’ve sent an email with a link to your temporary Blue Badge to details to {{ data['contact-by-email-address'] or 'your email address' }}. Print and display this until your Blue Badge arrives.
      </p>

    </div>
  </div>

{% endblock %}
