{% extends "layout.html" %}

{% block pageTitle %}
  {% if errorSummary.length > 0 %}Error: {% endif %}Contact details – {{ serviceName }} – GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/task-list"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% if errorSummary.length > 0 %}
          {{ govukErrorSummary({
              titleText: "There is a problem",
              errorList: errorSummary
          }) }}
      {% endif %}

      <form class="form" method="post" novalidate>
        {% set emailHtml %}
          {{ govukInput({
            id: "contact-by-email-address",
            name: "contact-by-email-address",
            type: "email",
            classes: "govuk-!-width-two-thirds",
            label: {
              text: "Email address"
            },
            attributes: {
              spellcheck: "false"
            },
            value: data['contact-by-email-address'],
            errorMessage: errors['email-address'],
            autocomplete: "email"
          }) }}
        {% endset -%}

        {% set phoneHtml %}
          {{ govukInput({
            id: "contact-by-phone-number",
            name: "contact-by-phone-number",
            type: "tel",
            classes: "govuk-!-width-two-thirds",
            label: {
              text: "Phone number"
            },
            value: data['contact-by-phone-number'],
            errorMessage: errors['phone-number'],
            autocomplete: "tel"
          }) }}
        {% endset -%}

        {% set postHtml %}
          {{ govukTextarea({
            id: "contact-by-address",
            name: "contact-by-address",
            classes: "govuk-!-width-two-thirds",
            label: {
              text: "What is your address?"
            },
            value: data['contact-by-address'],
            errorMessage: errors['address'],
            autocomplete: "street-address"
          }) }}
        {% endset -%}

        {{ govukRadios({
          idPrefix: "how-contacted-conditional",
          name: "how-contacted",
          fieldset: {
            legend: {
              text: "Contact details",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          hint: {
            text: "How should we contact you if we have a question about your application?"
          },
          items: [
            {
              value: "phone-number",
              text: "Phone call",
              checked: data['how-contacted'] === 'phone-number',
              conditional: {
                html: phoneHtml
              }
            },
            {
              value: "email-address",
              text: "Email",
              checked: data['how-contacted'] === 'email-address',
              conditional: {
                html: emailHtml
              }
            },
            {
              value: "address",
              text: "Post",
              checked: data['how-contacted'] === 'address',
              conditional: {
                html: postHtml
              }
            }
          ],
          errorMessage: errors['how-contacted']
        }) }}

        {{ govukButton({
          text: "Submit"
        }) }}
      </form>
    </div>
  </div>

{% endblock %}
