{% extends "layout.html" %}

{% block pageTitle %}
  Prototype Index page
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Prototype Index page
      </h1>
      <p class="govuk-body">
        <a class="govuk-link" href="task-list">Start of prototype</a>
      </p>
      <p class="govuk-body">
        <a class="govuk-link" href="/backstage">Backstage</a>
      </p>
    </div>
  </div>

{% endblock %}
