{% extends "layout.html" %}

{% block pageTitle %}
  We can't show you this information – {{ serviceName }} – GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/task-list"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        We can’t show you this information
      </h1>

      <p>
        To protect the security and privacy of your information we can’t
        show it to you again once your application has been submitted.
      </p>

    </div>
  </div>

{% endblock %}
