{% extends "layout.html" %}

{% block pageTitle %}
  {{ serviceName }} – GOV.UK
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% if data['how-contacted'] and data['contact-by-' + data['how-contacted']]%}
        {{ govukNotificationBanner({
          "html": "
            <h3 class=govuk-notification-banner__heading>Information about your application</h3>
            <ul class='govuk-list govuk-list--bullet'>
              <li>Once you have submitted your application and received your new badge, please dispose of your old badge.</li>
              <li>There might be a delay in processing your application due to the impact of <a class=govuk-notification-banner__link href=https://www.gov.uk/coronavirus>coronavirus (COVID-19)</a></li>
            </ul>"
        }) }}
      {% else %}
        {{ govukNotificationBanner({
          "html": "<p class=govuk-notification-banner__heading>There might be a delay in processing your application due to the impact of <a class=govuk-notification-banner__link href=https://www.gov.uk/coronavirus>coronavirus (COVID-19)</a></p>"
        }) }}
      {% endif %}

      <h1 class="govuk-heading-xl">
        Apply for a blue badge
      </h1>

      <ol class="app-task-list">
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">1. </span> Check before you start
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a class="govuk-link" href="/no-permission" aria-describedby="eligibility-completed">
                  Check eligibility
                </a>
              </span>
              <strong class="govuk-tag app-task-list__task-completed" id="eligibility-completed">Completed</strong>
            </li>
          </ul>
        </li>
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">2. </span> Prepare application
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a class="govuk-link" href="/no-permission" aria-describedby="personal-details-completed">
                  Personal details
                </a>
              </span>
              <strong class="govuk-tag app-task-list__task-completed" id="personal-details-completed">Completed</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a class="govuk-link" href="/no-permission" aria-describedby="benefits-completed">
                  Benefits
                </a>
              </span>
              <strong class="govuk-tag app-task-list__task-completed" id="benefits-completed">Completed</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a class="govuk-link" href="/use-existing-image" aria-describedby="upload-a-photo-completed">
                  Upload a photo
                </a>
              </span>
              {% if data['use-existing-image'] === "yes" %}
                <strong class="govuk-tag app-task-list__task-completed" id="upload-a-photo-completed">Completed</strong>
              {% elif data['use-existing-image'] === "no" and data['upload-photo'] %}
                <strong class="govuk-tag app-task-list__task-completed" id="upload-a-photo-completed">Completed</strong>
              {% else %}
                <strong class="govuk-tag govuk-tag--grey app-task-list__task-completed" id="upload-a-photo-completed">Not completed</strong>
              {% endif %}
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a class="govuk-link" href="/contact-preferences" aria-describedby="contact-details-completed">
                  Contact details
                </a>
              </span>
              {% if data['how-contacted'] and data['contact-by-' + data['how-contacted']] %}
                <strong class="govuk-tag app-task-list__task-completed" id="contact-details-completed">Completed</strong>
              {% else %}
                <strong class="govuk-tag govuk-tag--grey app-task-list__task-completed" id="contact-details-completed">Not completed</strong>
              {% endif %}
            </li>
          </ul>
        </li>
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">3. </span> Pay and submit application
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a class="govuk-link" href="/check-your-answers" aria-describedby="submit-and-pay-completed">
                  Submit and pay
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__task-completed" id="submit-and-pay-completed">Not completed</strong>
            </li>
          </ul>
        </li>
      </ol>

    </div>
  </div>

{% endblock %}
