{% extends "layout.html" %}

{% block pageTitle %}
  Type of badge – {{ serviceName }} – GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript: history.go(-1)"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <form class="form" action="/check-your-answers" method="post" novalidate>

      {% from "govuk/components/radios/macro.njk" import govukRadios %}

      {{ govukRadios({
        idPrefix: "type-of-badge",
        name: "type-of-badge",
        fieldset: {
          legend: {
            text: "Type of badge",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        items: [
          {
            value: "2 year",
            text: "2 year"
          },
          {
            value: "6 month",
            text: "6 month"
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}
      </form>

    </div>
  </div>
{% endblock %}
